cplex==12.10.0.3
scs==2.1.2
cvxopt==1.2.3
cvxpy==1.1.7
gorilla
matplotlib==3.2.1
numpy
pandas==1.0.3
# pycddlib requires GCC which can be installed using `sudo apt-get install libgmp3-dev`
# and `sudo apt-get install python3.7-dev` or the python3.x version we are using.
pycddlib==2.1.0
scipy==1.4.1
streamlit

# Reinforcement learning
gym==0.12.0
tensorflow==2.1.2
tensorflow-probability==0.8.0
tf-agents==0.3.0
tqdm==4.32.2

# Documentation
jupyter==1.0.0
jupytext==1.5.2
seaborn==0.9.0
graphviz==0.10.1

# Testing
git+git://github.com/numpy/numpy-stubs@57eedfd51db294509efad55d7169d0218eb905f5
mock
tox==3.14.0
python-json-logger==0.1.11
pytest==5.2.0
pytest-cov==2.7.1
pytest-mock==1.10.4
pytest-mypy==0.4.1
pytest-xdist==1.29.0
pylint==2.5.3

# Release
twine==1.15.0
