/* Override nav bar color */
.wy-side-nav-search {
    background-color: #8fe6e7;
}
.wy-side-nav-search > a {
    /*color: #b2355c*/
    /*color: #55a5d9;*/
    color: #ffffff
}

/* Override text bar color */
.caption-text {
    /*color: #b2355c;*/
}

/* Override code signature colour */

.rst-content dl:not(.docutils) dt {
    /*background: #fbfbb6;
    color: #b2355c;*/
}

/* Override hyperlink colour */
a {
    /*color: #b2355c;*/
}
